/* equal-height-box */
.eq-box,
.eq-box-res {
  float: left;
  width: 30%;
  margin-right: 5%;
}

.eq-box.last {
  margin-right: 0;
}

.eq-box-in,
.eq-box-in-res {
  border: 1px solid #ccc;
  background-color:#fff;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .eq-box-res {
    float: none;
    width: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }
}







