/* Submenu */

//Globel Dependency
@import "compass/utilities";
@import "compass/css3";

// colors
$color-set-3-bg: #26a69a;
$color-set-3-fg: #fff;

/* clearfix
   by Nicolas Gallagher
   http://nicolasgallagher.com/micro-clearfix-hack/
*/
.cf:before, .cf:after {
  display:table;
  content:" ";
}
.cf:after {
  clear:both;
}

.cf {
    *zoom:1;    
}


.color-set-3 {
  background-color: $color-set-3-bg;
  color: $color-set-3-fg;
}

// For transition
.trans {
  @include transition(all 200ms ease);
}

/* main-nav */
.main-nav {
  @extend .cf;
  @extend .color-set-3;
  height: 40px;
}

.main-nav-item {
  float: left;
  position: relative;
}

.main-nav-link,
.sub-menu-link  {
    &.active {
      background-color: $color-set-3-fg;
      color: $color-set-3-bg;
    }  
  }


.main-nav-link,
.sub-menu-link {
  display: block;
  @extend .trans;
  
  font-size: 14px;
  line-height: 40px;
  color: $color-set-3-fg;
  padding: 0 15px;

  &:hover {
    background-color: $color-set-3-fg;
    color: $color-set-3-bg;
  }
}

.sub-menu {
  @extend .color-set-3;
  @extend .trans;

  position: absolute;
  display: none;
  top: 40px;
  left: 0;

  &.show {
    display: block;
  }
}


