/* -- Base -- */
body {
  @extend .color-set-base;
  line-height:1.4;
  height:100%;
  font-family: Helvetica,"Open Sans", Arial, sans-serif;
  font-size: 16px;
}

a {
  cursor:pointer;
  text-decoration:none;
  &:focus {
    outline:0;
  }
  img {
    outline:none;
  }
}

img {
  vertical-align:middle;
  max-width:100%;
}

ul {
  list-style:none;
  margin:0;
  padding:0;
}




