/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,
button,
input,
select,
textarea {
    color: #222;
}

label, input, button, select, textarea {
    font-family: Raleway,"Open Sans",Helvetica,Arial,sans-serif;
}

::-moz-selection {
    background: $color-set-4-bg;
    text-shadow: none;
    color:$color-set-4-fg;
}
::selection {
    background: $color-set-4-fg;
    text-shadow: none;
    color:$color-set-4-fg;
}
audio,
canvas,
img,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}